* {
    /*border: 1px solid;*/
}

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
 }

 #firstPart {
    background-color: #1f2937;
    height: 500px;
    color: rgb(255, 255, 255);
} 

/************HEADER*************/

.header {
    /*border: 1px solid green;*/
    display: flex;
    padding-top: 5px;
    margin-bottom: 80px;
    justify-content: center;
}

.header .empty {
    flex: 1;
    width: 400px;
}

.logo, .link {
    /*border: 1px solid red;*/
    flex: 1;
}

.header .logo {
    flex: 3 1 0%;
    /*padding-left: 200px;*/
    font-weight: bold;
    font-size: 24px;
}

.header .link {
    font-size: 13px;
    padding-top: 5px;
}



/************INTRoDUCTION*************/

.container {
    display: flex;
    /*border: 2px solid red;*/
    justify-content: center;
}

.both {
    display: flex;
    /*border: 2px solid yellow;*/
    justify-content: center;
    width: 100px;
    flex: 7;
}

.Text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    /*border: 1px solid;*/
    justify-content: center;
    align-items: center;
}

.title {
    /*border: 1px solid red;*/
    font-size: 48px;
    font-weight: bold;
    flex: 1;
    width: 340px;
    text-align: center;
}

.sometext {
    /*border: 1px solid darkgoldenrod;*/
    font-size: 24px;
    flex: 1;
    width: 340px;
    text-align: center;
}

.firstbutton {
    background-color: #3882F6;
    border: #1f2937;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
    /*border: 4px solid green;*/
    min-width: 200px;
    max-width: 210px;
}

.imgcontainer {
    flex: 1;
    margin-right: 5px;
    /*border: 3px solid;*/

}

img {
    height: auto;
    width: 550px;
    border: 4px solid;
}

/************SECOND PART*************/

#secondPart {
    position: relative;
    /*border: 1px solid red;*/
    height: 300px;
}

.Titleofthesecondpart {
    color: black;
    font-weight: bold;
    font-size: 40px;
    /*border: 1px solid orange;*/
    text-align: center;
    padding: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.fourboxes {
    display: flex;
    /*border: 1px solid black;*/
    height: 150px;
    width: 900px;
    margin-top: 10px;
}

.boxandtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid red;*/
    text-align: center;
    flex: 1;
    justify-content: center;
    
}

.box {
  border: 2px solid #3882F6; 
  border-radius: 8px;
  height: 100px;
  width: 100px; 
}



/************THIRD PART*************/

#thirdPart {
    display: flex;
    background-color: #e5e7eb;
    height: 300px;
    color: #1f2937;
    /*border: 2px solid green;*/
    justify-content: center;
    align-items: center;
}

.quotation {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    height: 200px;
    width: 1300px;
    padding: 10px;
    margin-top: 10px;
}

.quot {
    flex: 1;
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f2937;
    text-align: center;
}

.author {
    flex: 1;
    text-align: right;
}




/************FOURTH PART*************/


#fourthPart {
    display: flex;
    background-color: #ffffff;
    height: 300px;
    color: #ffffff;
    /*border: 2px solid green;*/
    justify-content: center;
    align-items: center;
}

.fourthcontainer {
    display: flex;
    /*border: 1px solid red;*/
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 8px;
    width: 700px;
    height: 100px;
    padding: 10px;
    gap: 20px;
}

.secondbutton {
    background-color: #3882F6;
    border-color: white;
    color: white;

    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    /*border: 4px solid green;*/
}

#footer {
    display: flex;
    border: #1f2937;
    background-color: #1f2937;
    height: 70px;
    color: #ffffff;
    /*border: 2px solid green;*/
    justify-content: center;
    align-items: center;
}