/* {
    border: 2px solid red;
}*/

#firstPart {
    background-color: #1f2937;
    max-width: 6000px;
    height: 400px;
    color: rgb(255, 255, 255);
}

.LOGO {
    position: relative;
    font-size: 24px;
    left: 50px;
    font-weight: bold;
}

.linkOne, 
.linkTwo,
.linkThree {
    font-size: 13px;
}

.linkThree {
    position: relative;
    left: 500px;
}

.linkTwo {
    position: relative;
    left: 470px;
}

.linkOne {
    position: relative;
    left: 440px;
}

.firstButton {
    position: relative;
    background-color: #3882F6;
    border: #1f2937;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50px;
    top: 60px;
    border-radius: 8px;
}

.caption {
    position: relative;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    /*border: 1px solid red;*/
    top: 60px;
    left: 50px;
    max-width: 320px;
}

.forimage {
    position: relative;
    background-color: rgb(77, 89, 114);
    padding: 70px;
    padding-top: 100PX;
    padding-bottom: 100PX;
    max-width: 300px;
    /*width: 300px;*/
    /*border: 1px solid red;*/
    text-align: center;
    left: 470px;
    top: -170px;
}

.someText {
    position: relative;
    max-width: 400px;
    top: 60px;
    left: 50px;
}




#secondPart {
    position: relative;
    border: 1px solid red;
    height: 300px;
}

.Titleofthesecondpart {
    color: black;
    font-weight: bold;
    font-size: 36px;
    /*border: 1px solid orange;*/
    text-align: center;
}

.fourboxes {
    /*border: 1px solid red;*/
}

.one, .two,
.three, .four {
    position: absolute;
    border: 1px solid black;
    padding: 50px;
    top: 100px;
    border:1px solid #3882F6;
    border-radius: 8px;
    font-weight: bold;
}

.one {
    left: 200px;
}

.two {
    left: 350px;
}

.three {
    left: 500px;
}

.four {
    left: 650px;
}

